$inuit-enable-table--fixed:     true;
$inuit-enable-table--compact:   true;
$inuit-enable-table--cosy:      true;
$inuit-enable-table--comfy:     true;
$inuit-enable-table--cells:     true;
$inuit-enable-table--rows:      true;
$inuit-enable-table--columns:   true;
