$inuit-enable-pack--auto:   true;
$inuit-enable-pack--tiny:   true;
$inuit-enable-pack--small:  true;
$inuit-enable-pack--large:  true;
$inuit-enable-pack--huge:   true;
$inuit-enable-pack--rev:    true;
$inuit-enable-pack--middle: true;
$inuit-enable-pack--bottom: true;
